.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  font-family: Arial;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
}

.topnav select {
  background-color: #7C7C7C;
  color: white;
  border-color: black;
  position: relative;;
  transform: translate(0px, 7px);
  font-size: 16px;
  height: 34px;
  width: 268px;
}

.col-md-6 {
  border-right: 10px;
}

/* #mapDiv {
  background-color: #DDDDDD;
  border: 2px solid;
}

#pieDiv {
  background-color: #DDDDDD;
  border: 2px solid;
}

#line1Div {
  background-color: #DDDDDD;
  border: 2px solid;
}

#line2Div {
  background-color: #DDDDDD;
  border: 2px solid;
} */

/* svg.map g {
  width: 100px;
  height: 100px;

} */
.mand {
  position: relative;
}

text {
  font: 13px Arial;
}

h1 {
  font: 35px Arial;
  text-align: center;
}

h2 {
  font: 25px Arial;
}

p {
  font: 15px Arial;
}
body {
  /* background-color: white; */
  background-color: #f7e7de;
}

.startpadding {
  position: static;
}

.map {
  /* background-image: url(worldmap.png);
  background-size: 100% 100%; */
  position: static;
}

.padding1 {
  position: static;
}

/* .pie {
  background-image: url(pie.png);
  background-size: 100% 100%;
  position: static;
} */

/* .line1 {
  background-image: url(figure3.png);
  background-size: 100% 100%;
  position: static;
} */

.padding2 {
  position: static;
}

.top-buffer { margin-top: 50px; }


/* .line2 {
  background-image: url(figure4.png);
  background-size: 100% 100%;
  position: static;
} */

.toolTip {
  background: black;
  color: white;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  pointer-events: none !important;
  /* pointer-events: none !important; */
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 90%;
  height: 8.4px;
  cursor: pointer;
  background: lightblue;
  border-radius: 1.3px;
  border: 0.2px solid;
}

input[type=range]::-webkit-slider-thumb {
  border: 1.7px solid #000000;
  height: 20px;
  width: 7px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
